@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gainsboro;
}

p {
    text-indent: 10px;
    margin: 5px;
    text-align: justify;
}

header {
    position: relative;
    background-color: crimson;

}

header h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;

}

nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 5px;
}

nav li {
    background-color: brown;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background .2s ease-in;
}

nav li:hover{
    background-color: crimson;
}

.menu{
    display: none;
}

#menu-check{
    display: none;
}

main{
    padding: 20px 80px;
    width: 95%;
    max-width: 600px;
    background-color: white;
    margin: auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

h2{
    font-size: 1.7em;
    margin-bottom: 20px;
}

@media (max-width: 720px){
    main{
        padding: 20px 40px;
    }
    nav ul{
        display: none;
    }
    .menu{
        display: block;
        width: 100%;
        text-align: center;
        color: white;
        background-color: gray;
        padding: 15px;
        font-size: 1.5em;
        cursor: pointer;
        transition: background .2s ease-in;
    }
    .menu:hover{
        background-color: rgb(100, 100, 100);
    }
    nav:has(#menu-check:checked) ul{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    nav:has(#menu-check:checked) li{
        border-radius: 0;
        text-align: center;
        font-size: 1.2em;
        padding: 10px;
    }

}