@charset "UTF-8";

body{
    background-color: rgb(15, 10, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}